# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable Rest Client': 'rest-client:open'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Rest Client'
      'submenu': [
        { 'label': 'Open', 'command': 'rest-client:open' }
        { 'label': 'Close', 'command': 'rest-client:close' }
      ]
    ]
  }
]
