// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.rest-client {

  &.tool-panel {
    min-width: 300px;
    padding: 20px;
  }

  .right {
    float: right;
  }

  .headers-view {
    .headers {
      width: 290px;
      padding: 5px;
      min-height: 50px;
      background-color: #ffffff;
      border-radius: 3px;
      border: solid 1px #3c3c3c;
    }

    button {
      
    }
  }

}
